#input-text {

}

#add-btn {
    height: 50px;
    width: 100px;
}

#workers-container {
}

.table-of-workers tr th,
.table-of-workers tr td  {
    border: 1px solid #000;
    padding: 10px 20px;
}

#workers-table-body {

}

